.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
    padding-top: 50px;
}

.contactheading{
    color: #343a40;
    padding-bottom: 15px;
}

label{
      font-weight: 500;
      font-size: 16px;
}

p{
    color: #5F9EA0;
    font-size: 15px;
    padding-top: 5px;
}

.btn-primary{
    background-color: #5F9EA0;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
}

.btn-primary:hover{
    background-color: #343a40;
    color: white;
}

.navbar-brand:hover{
    color: #5F9EA0 !important;
}

.nav-link.active{
    color: #5F9EA0 !important;
}

li {
    list-style-type: none;
}

.game--image{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.game--name{
    color: black;
    font-weight: 600;
    font-size: 16px;
    color: #5F9EA0;
}

.game--released{
    color: black;
}

.game--releasedtitle{
    color: black;
}

.game--ratingtitle{
    color: black;
}

.game--rating{
    color: black;
}

.game--button{
    background-color: #5F9EA0;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
}

.game--button:hover{
    background-color: #343a40;
    color: white;
}
